<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is the description of website. This should be of two to three lines. Keywords should naturally fall here.">
    <meta name="keywords" content="key1, key2, key3, key4, insert, related, keywords, here, seperted, by, comma">
    <meta name="author" content="Kishan Dasondhi">
    <meta name="title" content="title | describe your title here">
    <title>Web template | Welcome to our template</title>
    <!-- this part of markupo should be edited by owner to make the file content relevent to website's content -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/header-footer-showcase.css">
    <link rel="stylesheet" href="css/style-gallery.css">
</head>
<body>
    <!-- header and nav part -->
    <header>
        <div class="container">
            <h1 title="My Website" id="branding">My Website</h1>
        </div>
    </header>
    <nav class="my-nav">
        <ul class="my-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="courses.html">Courses</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <a href="#" id=openup>MENU</a>
    </nav>
    <!-- header and nav part ends here-->
    <!-- showcase starts here-->
    <section id="showcase" >
        <div class="filter">
            <div class="container ">
                <h1>Gallery</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus assumenda porro totam beatae magni nobis officiis?</p>
            </div>
        </div>
    </section>
    <!-- showcase ends here-->
    <!-- Code for gallery starts here -->
    <div id="one">
        <div id="two">
            <h1>Gallery</h1>
            <section id="gallery">
                <div>
                    <a href="./img/5.jpg" target="_blank" ><img src="./img/5.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/4.jpg" target="_blank" ><img src="./img/4.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/3.jpg" target="_blank" ><img src="./img/3.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/2.jpg" target="_blank" ><img src="./img/2.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/1.jpg" target="_blank" ><img src="./img/1.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/6.jpg" target="_blank" ><img src="./img/6.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/5.jpg" target="_blank" ><img src="./img/5.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/4.jpg" target="_blank" ><img src="./img/4.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/3.jpg" target="_blank" ><img src="./img/3.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/2.jpg" target="_blank" ><img src="./img/2.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/1.jpg" target="_blank" ><img src="./img/1.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/6.jpg" target="_blank" ><img src="./img/6.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/5.jpg" target="_blank" ><img src="./img/5.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/4.jpg" target="_blank" ><img src="./img/4.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/3.jpg" target="_blank" ><img src="./img/3.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/2.jpg" target="_blank" ><img src="./img/2.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/1.jpg" target="_blank" ><img src="./img/1.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/6.jpg" target="_blank" ><img src="./img/6.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/5.jpg" target="_blank" ><img src="./img/5.jpg" alt=""></a>
                </div>
                <div>
                    <a href="./img/4.jpg" target="_blank" ><img src="./img/4.jpg" alt=""></a>
                </div>
            </section>
        </div>
    </div>
    <!-- Code for gallery ends here -->
    <footer>
        <div class="container">
            <p>My Website, copyright &copy;2019</p>
        </div>
    </footer>
    <!-- 0-------------javascript files----------------0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script/navbar.js"></script>
</body>
</html>