<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is the description of website. This should be of two to three lines. Keywords should naturally fall here.">
    <meta name="keywords" content="key1, key2, key3, key4, insert, related, keywords, here, seperted, by, comma">
    <meta name="author" content="Kishan Dasondhi">
    <meta name="title" content="title | describe your title here">
    <title>Web template | About page</title>
    <!-- this part of markupo should be edited by owner to make the file content relevent to website's content -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/header-footer-showcase.css">
    <link rel="stylesheet" href="css/style-about.css">
</head>
<body>
    <!-- header and nav part -->
    <header>
        <div class="container">
            <h1 title="My Website" id="branding">My Website</h1>
        </div>
    </header>
    <nav class="my-nav">
        <ul class="my-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="courses.html">Courses</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <a href="#" id=openup>MENU</a>
    </nav>
    <!-- header and nav part ends here-->
    <!-- showcase starts here-->
    <section id="showcase" >
        <div class="filter">
            <div class="container ">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus assumenda porro totam beatae magni nobis officiis?</p>
            </div>
    </div>
    </section>
    <!-- showcase ends here-->
    <main>
        <div class="container">
            <article class="art-box">
                <div class="side-img">
                    <img src="./img/img2.PNG" alt="Mission">
                </div>
                <div class="side-txt">
                    <h3>Mission</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos aperiam ea vel temporibus totam quae cum quaerat, error iusto velit aut enim sapiente, tempora tenetur quibusdam laudantium! Cum officiis blanditiis animi similique neque quo tempora veniam fugiat quod tenetur iure assumenda aliquam adipisci nihil omnis debitis eum vitae qui, recusandae, veritatis aut laudantium autem quisquam! Facilis aliquam deleniti veritatis modi.</p>
                </div>
            </article>
            <article class="art-box">
                <div class="side-img">
                    <img src="./img/img3.jpg" alt="Vision">
                </div>
                <div class="side-txt">
                    <h3>Vision</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos aperiam ea vel temporibus totam quae cum quaerat, error iusto velit aut enim sapiente, tempora tenetur quibusdam laudantium! Cum officiis blanditiis animi similique neque quo tempora veniam fugiat quod tenetur iure assumenda aliquam adipisci nihil omnis debitis eum vitae qui, recusandae, veritatis aut laudantium autem quisquam! Facilis aliquam deleniti veritatis modi.</p>
                </div>
            </article>
            <article class="art-box">
                <div class="side-img">
                    <img src="./img/img4.jpg" alt="Roadmap">
                </div>
                <div class="side-txt">
                    <h3>Rodemap</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos aperiam ea vel temporibus totam quae cum quaerat, error iusto velit aut enim sapiente, tempora tenetur quibusdam laudantium! Cum officiis blanditiis animi similique neque quo tempora veniam fugiat quod tenetur iure assumenda aliquam adipisci nihil omnis debitis eum vitae qui, recusandae, veritatis aut laudantium autem quisquam! Facilis aliquam deleniti veritatis modi.</p>
                </div>
            </article>
        </div>
    </main>
    <section >
        <div id="why-us">
        <h1>Why us?</h1>
        <div class="why-us-box" >
            <img src="./img/icon.png" class="icon" alt="icon">
            <h3>Heading 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci neque accusamus beatae corrupti illo nobis qui. Sequi, magnam! Esse, praesentium?</p>
        </div>
        <div class="why-us-box">
            <img src="./img/icon.png" class="icon" alt="icon">
            <h3>Heading 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci neque accusamus beatae corrupti illo nobis qui. Sequi, magnam! Esse, praesentium?</p>
        </div>
        <div class="why-us-box">
            <img src="./img/icon.png" class="icon" alt="icon">
            <h3>Heading 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci neque accusamus beatae corrupti illo nobis qui. Sequi, magnam! Esse, praesentium?</p>
        </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>My Website, copyright &copy;2019</p>
        </div>
    </footer>
    <!-- 0-------------javascript files----------------0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script/navbar.js"></script>
</body>
</html>